body {
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin: 0px;
    background-color: #2F333E;
}

div {
    background-color: #272B34;
    padding: 20px;
    margin: 0px;
}

h1 {
    color: white;
    margin: 3px;
}

h3 {
    margin: 0px;
    padding: 6px;
    color: #ECF0F1;
}

p {
    margin: 20px;
}

input, select, button {
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    height: auto;
    width: auto;
    text-shadow: none;
    box-shadow: none;
    border: none;
    padding: 10px;
    margin: 4px;
}

select>option {
    text-transform: uppercase;
    padding: 5px 3px;
}

#bodyheader {
    background-color: #21242B;
    border-bottom: 1px solid #6C92DC;
}

#back {
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    height: auto;
    width: auto;
    text-shadow: none;
    box-shadow: none;
    border: #6C92DC;
    padding: 10px;
    margin: 10px;
}

tr, td {
    border: 1px solid #6C92DC;
}

table {
    border-collapse: collapse;
}

table, tr, td, th {
    padding: 7px;
    margin: 10px;
    margin-bottom: 30px;
}

tr:nth-child(even) {
    background: #272B34;
}

tr:nth-child(odd) {
    background: #2F333E;
}

th {
    background: #21242B;
    text-align: center;
}
